.phone
  .screen
    %input.number{ type: 'tel', readonly: 'readonly' }
  .buttons
    .button{ href: '#', data: { key: '1' } }
      .value 1
      .description
    .button{ href: '#', data: { key: '2' } }
      .value 2
      .description ABC
    .button{ href: '#', data: { key: '3' } }
      .value 3
      .description DEF
    .button{ href: '#', data: { key: '4' } }
      .value 4
      .description GHI
    .button{ href: '#', data: { key: '5' } }
      .value 5
      .description JKL
    .button{ href: '#', data: { key: '6' } }
      .value 6
      .description MNO
    .button{ href: '#', data: { key: '7' } }
      .value 7
      .description PQRS
    .button{ href: '#', data: { key: '8' } }
      .value 8
      .description TUV
    .button{ href: '#', data: { key: '9' } }
      .value 9
      .description WXYZ
    .button{ href: '#', data: { key: '*' } }
      .value *
      .description
    .button{ href: '#', data: { key: '0' } }
      .value 0
      .description +
    .button{ href: '#', data: { key: '#' } }
      .value #
      .description
  .actions
    .action.dial
      .icon
    .action.hang
      .icon
