<!DOCTYPE html>
<html>
<head> 
  <meta charset="UTF-8"> 
  <title>Call</title> 
  
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="http://s.phono.com/releases/0.1/jquery.phono.js"></script>
  <script src="/javascripts/application.js"></script>
<body>
  
  <div id="main">
    <%= yield %>
  </div> 

</html>