!!!
%html
  %head
    %title Caller
    %meta{ charset: "UTF-8" }
    %meta{ content: "Caller", name: "keywords" }
    %meta{ content: "A gorgeous phone.", name: "description" }
    %link{ href: asset("application.css"), rel: "stylesheet", type: "text/css" }
    %script{ src: asset("application.js"), type: "text/javascript" }
    %body
      #main
        = yield